<div>
    <h2>Log In</h2>
    <%= form_with url: "/login", model: @user do |form| %>
        <p>
        <%= form.label :username %><br>
        <%= form.text_field :username %>
        </p>
        <%= form.label :password %><br>
        <%= form.password_field :password %><br>

        <%= submit_tag "Log In" %>

    <% end %>

</div>