<%= form_for :sessions, url: sign_in_path, id: "form" do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :senha  %><br />
    <%= f.password_field :senha, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<p>New user? <%= link_to "Sign up now!", '/usuarios' %></p>
<% end %>