<p style="color: green"><%= notice %></p>

<%= render @user_area %>

<div>
  <%= link_to "Edit this user area", edit_user_area_path(@user_area) %> |
  <%= link_to "Back to user areas", user_areas_path %>

  <%= button_to "Destroy this user area", @user_area, method: :delete %>
</div>
