<div id="<%= dom_id card %>" class="card-container">
  <p class="card-container-item-name">
    <%= card.name %>
  </p>

  <p class="card-container-item-description">
    <%= card.description %>
  </p>

  <p class="card-container-item-status">
    <%= card.status %>
  </p>

  <%
=begin%>
 <p>
    <strong>Group:</strong>
    <%= card.group_id %>
  </p> 
<%
=end%>

</div>
