<div id="<%= dom_id card %>" class="card">
  <div class="card-title">
        <span><%= card.name %></span>
        <span class="card-group">
            <%= link_to Group.find(card.group_id).description, edit_group_path(card.group) %>
        </span>
  </div>
  <div class="card-description">
      <span><%= card.description %></span>
  </div>
  <div class="card-bottom">
      <div class="card-bottom-timer">
          <button class="card-status-btn">
          <a href="/cards/<%= card.id %>/edit">
              <img class="card-bottom-timer-img" src="/assets/edit_card.png" alt="">
          </a>
          </button>
      </div>
      <div class="card-status">
          <%= button_to '<', previous_status_path(card.id), method: :put, class: "card-status-btn" %>
          <span><%= format_status(card.status) %></span>
          <%= button_to '>', next_status_path(card.id), method: :put, class: "card-status-btn" %>
      </div>
  </div>
</div>
