<p style="color: green"><%= notice %></p>

<div class='dashboard'>
  <h1>Cards</h1>
  <div class='dashboard-news'>
    <a class="dashboard-filter-btn" href="/groups/new">
      + New Group
    </a>
    <a class="dashboard-filter-btn" href="/cards/new">
      + New Card
    </a>
  </div>
  <div class="dashboard-content">
    <div class="dashboard-filter">
  <div class="dashboard-filter-reset">
      <%= button_to 'Reset Filters', cards_path('todo'), method: :get, class: "dashboard-filter-btn" %>
  </div>
  <div class="dashboard-filter-general">
      <%= button_to 'To Do-Filter', cards_filter_path('todo'), method: :get, class: "dashboard-filter-btn" %>
      <%= button_to 'Doing-Filter', cards_filter_path('doing'), method: :get, class: "dashboard-filter-btn" %>
      <%= button_to 'Done-Filter', cards_filter_path('done'), method: :get, class: "dashboard-filter-btn" %>    
  </div>
    </div>

    <div class="dashboard-cards">
      <% @cards.each do |card| %>
      <div id="card_<%=card.id%>">
        <%= render card %>
      </div>  
      <% end %>
    </div>
  </div>
</div>

