
<% if @usuarios.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@usuarios.errors.count, "erro") %> impedem que o usuário sejam gravados no banco de dados:</h2>
            
                <ul>
                <% @usuarios.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
<% end %>

	<div> 
        <%= form_with scope: :usuario, url: usuarios_path, id: "form", local: true do |form| %>
            <p>
                <%= form.label :nome %><br>
                <%= form.text_field :nome %>
            </p>
            
            <p> 
                <%= form.label :email %><br>
                <%= form.text_field :email %>
            </p>
            
            <p>
                <%= form.label :senha %><br>
                <%= form.password_field :senha %>
            </p>
            
            <p>
                <%= form.label :senha_confirmation %><br>
                <%= form.password_field :senha_confirmation %>
            </p>
            
            <p> 
                <%= form.submit 'Sign Up' %>
            </p>
            
            <button style="color:red;">
                <%= link_to "Sign in", '/login' %>
            </button>   
        <% end %>
         
    </div>	

